body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  color: #ffffff;
}

h2 {
  color: #f1c40f;
}

form {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #ffffff;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #ffffff;
}

input:focus {
  outline: none;
  border-color: #f1c40f;
  background-color: #333;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d0a411;
}

a {
  color: #f1c40f;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.notice {
  width: 100%;
  background-color: #ffcc00;
  color: #000;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
